@use 'variable'
@use 'reset'

body
    margin: 0
    padding: 0
    box-sizing: border-box
    background-color: variable.$secondary-color

.main-game 
    height: 100vh
    width: 100vw
    display: flex
    justify-content: center
    align-items: center

.genius
    display: grid
    grid-template-areas: 'green red blue yellow'
    grid-gap: 10px
    border: 1px solid variable.$white
    background-color: variable.$white
    border-radius: 100%
    width: 700px
    height: 700px
    